obj/
bin/Debug/napof.pdb
*.dll
Release/
*.lib
*.pdb
*.exe
.vs/Soundlab/v14/.suo
Soundlab.VC.VC.opendb
Soundlab.VC.db
bin/Soundlab.exp
bin/Soundlab.iobj
bin/Soundlab.ipdb
bin/Soundlab_debug.exp
bin/Soundlab_debug.ilk
bin/j4cDAC.txt
/.idea
*.suo
*.user
*.lib
*.log
*.pdb
*.idb
*.sdf
*.tlog
*.opendb
*.obj
*.exe
*.cache
*.iobj
*.ipdb
/lib
*.ilk
rtti/x64/Release/rttitestapp.exe
*.ilk
*.iobj
*.TMP
rtti/x64/Release/rttitestapp.exe
*.exe
*.dll
rtti/x64/Release/rttitestapp.iobj
x64/Debug/coretestapp.ilk
*.ilk
core/src/plug.h
core/src/src.rar
**/Builds/**
**/JuceLibraryCode/**
**/GeneratedFiles/**
vs/**
*.rar
*.app
*.xcodeproj
*DS_Store*
modules/napetherservice/ReadMe.txt
*.xcuserstate

*.xcuserstate

*.xcbkptlist

*.xcuserstate
